
:root {
  --modal-mask-color: rgba(0, 0, 0, 0.5);
  --modal-container-background: transparent;
  --modal-track-color: #333;
  --modal-thumb-color: #ccc;
  --modal-close-background: #333;
  --modal-close-color: #ccc;
}

.modal-mask {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-mask-color);
  transition: opacity 0.3s ease;
  z-index: 9998;

  &.modal-sm, 
  &.modal-small {
    .modal-wrapper .modal-container {
      width: 60%;
    }
  }
    
  &.modal-md, 
  &.modal-medium {
    .modal-wrapper .modal-container {
      width: 75%;
    }
  }

  &.modal-lg, 
  &.modal-large {
    .modal-wrapper .modal-container {
      width: 90%;
    }
  }
  
  .modal-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto;
    padding: 30px 0;
      
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: var(--modal-track-color);
      cursor: grab;
    }
    &::-webkit-scrollbar-thumb {
      background:  var(--modal-thumb-color);
      cursor:grabbing;
    }

    .modal-container {
      position: relative;
      margin: auto;
      border-radius: 2px;
      transition: transform 0.3s ease;
      padding: 3px 6px;      
      background-color: var(--modal-container-background);
      min-width: 300px;

      .modal-header,
      header {
        font-size: 1.25rem;
      }

      .modal-footer,
      footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 5px;
      }

    }

    .close-button {
      position: absolute;
      top: -15px;
      right: -15px;
      border: solid 1px transparent;
      background-color: var(--modal-close-background);
      color: var(--modal-close-color);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      z-index: 100;
      cursor: pointer;
    }

  }
}

@media screen and (min-width: 768px) {
  .modal-mask {

    &.modal-sm, 
    &.modal-small {
      .modal-wrapper .modal-container {
        width: 380px;
      }
    }
      
    &.modal-md, 
    &.modal-medium {
      .modal-wrapper .modal-container {
        width: 650px;
      }
    }

    &.modal-lg, 
    &.modal-large {
      .modal-wrapper .modal-container {
        width: 95%;
      }
    }
  }
}


/*------------------------------------------------------------ VUE TRANSITIONS */
.modal-enter-from {
  opacity: 0;
}
.modal-enter-from .modal-container {
  transform: scale(1.1);
}
.modal-leave-active {
  opacity: 0;
}
.modal-leave-active .modal-container {
  transform: scale(1.1);
}
