	/* BUTTON STYLES*/

  input[type=button],
  input[type=submit],
  input[type=reset], 
	.button, .btn,
	[class*="btn-"] {
  	box-sizing: border-box;
		height: auto;
		cursor: pointer;
		line-height: auto;
		user-select: none;
		position: relative;
		align-items: center;
		display: inline-flex;
		text-decoration: none;
		letter-spacing: 0.30px;
		justify-content: center;
		text-transform: uppercase;
		background-color: #fff;

		color: var(--tr-color-primary);
		border-style: var(--tr-button-border-style);
		border-width: var(--tr-button-border-width);
		border-color: var(--tr-button-border-color);
		border-radius: var(--tr-button-border-radius);
		font-size: var(--tr-button-font-size);
		font-weight: var(--tr-button-font-weight);
		box-shadow: var(--tr-button-box-shadow);
		min-width: var(--tr-button-min-width);
		min-height: var(--tr-button-min-height);
		line-height: var(--tr-button-min-height);			
		padding: var(--tr-button-padding);

	}

	.btn-block {
		display: flex;
		width: 100%;
	}

	.btn-primary {
		color: var(--tr-button-primary-fg);
		background-color: var(--tr-button-primary-bg);
		border-color: var(--tr-button-primary-bg);
		&:disabled, &.disabled {
			cursor: not-allowed;		
			color: #aaa;	
			background-color: color-mix(in oklab, var(--tr-button-primary-bg) 30%, #555 70%);
		}
	}

	.btn-secondary {
		color: var(--tr-button-secondary-fg);
		background-color: var(--tr-button-secondary-bg);
		border-color: var(--tr-button-secondary-bg);
		&:disabled, &.disabled {
			cursor: not-allowed;		
			color: #aaa;		
			background-color: color-mix(in oklab, var(--tr-button-secondary-bg) 30%, #555 70%);
		}
	}

	.btn-gradient {
		border: none;
		color: var(--tr-button-primary-fg);
		min-width: calc(var(--tr-button-min-width) + var(--tr-button-border-width));
		min-height: calc(var(--tr-button-min-height) + var(--tr-button-border-width));
		background: linear-gradient(30deg, var(--tr-button-primary-bg) 0%, var(--tr-button-secondary-bg) 100%);
	}

	.btn-black {
		color: #ffffff;
		border-color: #ffffff;
		background-color: #000000;
		&:hover {
			color: #000000;
			border-color: #000000;
			background-color: #ffffff;
		}
	}

	.btn-white {
		color: #000000;
		border-color: #000000;
		background-color: #ffffff;
		&:hover {
			color: #ffffff;
			border-color: #ffffff;
			background-color: #000000;
		}
	}

	.btn-light {
		color: var(--tr-color-app-text);
		border-color: rgba(200,200,200,.3);
		background-color: rgba(200,200,200,.3);
		&:hover {
			background-color: rgba(200,200,200,.2)
		}
	}

	.btn-info {
		color: var(--tr-button-info-fg);
		background-color: var(--tr-button-info-bg);
		border-color: var(--tr-button-info-bg);
		&:disabled, &.disabled {
			cursor: not-allowed;		
			color: #aaa;		
			background-color: color-mix(in oklab, var(--tr-button-info-bg) 30%, #555 70%);
		}		
	}

	.btn-success {
		color: var(--tr-button-success-fg);
		background-color: var(--tr-button-success-bg);
		border-color: var(--tr-button-success-bg);		
		&:disabled, &.disabled {
			cursor: not-allowed;		
			color: #aaa;		
			background-color: color-mix(in oklab, var(--tr-button-success-bg) 30%, #555 70%);
		}	
	}

	.btn-warning {
		color: var(--tr-button-warning-fg);
		background-color: var(--tr-button-warning-bg);
		border-color: var(--tr-button-warning-bg);
		&:disabled, &.disabled {
			cursor: not-allowed;		
			color: #aaa;		
			background-color: color-mix(in oklab, var(--tr-button-warning-bg) 30%, #555 70%);
		}	
	}

	.btn-danger {
		color: var(--tr-button-danger-fg);
		background-color: var(--tr-button-danger-bg);
		border-color: var(--tr-button-danger-bg);
		&:disabled, &.disabled {
			cursor: not-allowed;		
			color: #aaa;		
			background-color: color-mix(in oklab, var(--tr-button-danger-bg) 30%, #555 70%);
		}	
	}

	.btn-rounded {
		min-width: unset;
		min-height: unset;
		border-radius: 500px;
		height: var(--tr-button-rounded-size);
	}

	.btn-round {
		padding: 0;
		min-width: unset;
		min-height: unset;
		border-radius: 500px;
		width: var(--tr-button-rounded-size);
		height: var(--tr-button-rounded-size);
	}

	.btn-icon {
		padding: 0;
		min-width: unset;
		min-height: unset;
		border-radius: unset;
		width: var(--tr-button-rounded-size);
		height: var(--tr-button-rounded-size);
	}

	.svg-icon {
		display: inline-block;
		width: 55%;
		height: auto;
	}

	.btn-text {
		border: none;
		padding: 0 1rem;
		background: none;
		box-shadow: none;
		min-width: unset;
		min-height: unset;
		color: var(--tr-color-app-text);
	}
	
