

/* INPUT STYLES */

fieldset {
  padding: 0.5rem 0.75rem;
  border: solid 1px var(--tr-input-border-color);
  border-radius: var(--tr-input-border-radius);
}

input[type=text],
input[type=number],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=week],
input[type=url],
select {
  box-sizing: border-box;
  border: solid 1px var(--tr-input-border-color);
  border-radius: var(--tr-input-border-radius);
  padding: 0.25rem 0.5rem;
  height: var(--tr-input-height);
}

textarea {
  box-sizing: border-box;
  border: solid 1px var(--tr-input-border-color);
  border-radius: var(--tr-input-border-radius);
  padding: 0.25rem 0.5rem;
}

input[type=color] {
  box-sizing: border-box;
  border: solid 1px var(--tr-input-border-color);
  border-radius: var(--tr-input-border-radius);
  padding: 0 0.25rem;
  height: var(--tr-input-height);
  width: 65px;
}

input[type=file] {
  box-sizing: border-box;
  border: solid 1px var(--tr-input-border-color);
  border-radius: var(--tr-input-border-radius);
  padding: 0 0.25rem;
  height: var(--tr-input-height);
}


/* FORM GROUP */
.form-group {

  label {
    display: block;
  }

  select,
  textarea,
  input[type=text],
  input[type=number],
  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=time],
  input[type=week],
  input[type=url] {
    width: 100%;
  }

  input[type=button],
  input[type=submit],
  input[type=reset] {
    width: unset;
  }

}