


.block-shade-10 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.1);
}

.block-shade-20 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.2);
}

.block-shade-30 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.3);
}

.block-shade-40 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.4);
}

.block-shade-50 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.5);
}

.block-shade-60 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.6);
}

.block-shade-70 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.7);
}

.block-shade-80 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.8);
}

.block-shade-90 {
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.9);
}