
:root {

  /* APP */
	
	--tr-app-html-padding: 0;
	--tr-app-html-margin: 0;

  /* COLORS */

	--tr-color-app-text: #333;
  
  --tr-color-primary: #08129b;
	--tr-color-secondary: #3adde9;

	--tr-color-info: #33b5e5;
	--tr-color-success: #227220;
	--tr-color-warning: #ffa501;
	--tr-color-danger: #99241d;
	--tr-color-black: #000000;
	--tr-color-white: #ffffff;

	--tr-color-muted: #999;

  /* BUTTONS */	

	--tr-button-primary-bg: var(--tr-color-primary);
	--tr-button-primary-fg: var(--tr-color-white);
	
	--tr-button-secondary-bg: var(--tr-color-secondary);
	--tr-button-secondary-fg: var(--tr-color-white);
	
	--tr-button-info-bg: var(--tr-color-info);
	--tr-button-info-fg: var(--tr-color-white);
	--tr-button-success-bg: var(--tr-color-success);
	--tr-button-success-fg: var(--tr-color-white);
	--tr-button-warning-bg: var(--tr-color-warning);
	--tr-button-warning-fg: var(--tr-color-white);	
	--tr-button-danger-bg: var(--tr-color-danger);
	--tr-button-danger-fg: var(--tr-color-white);

	--tr-button-min-width: 40px;
	--tr-button-min-height: 34px;
	--tr-button-padding: 0 1rem;
	--tr-button-font-size: 0.9rem;
	--tr-button-font-weight: 600;
	--tr-button-border-radius: 0.5rem;
	--tr-button-border-style: solid;
	--tr-button-border-width: 1px;	
	--tr-button-box-shadow: none;
	--tr-button-rounded-size: 45px;

  /* HEADINGS */
	--tr-heading-h1: 3.9rem;
	--tr-heading-h2: 3.3rem;
	--tr-heading-h3: 2.6rem;
	--tr-heading-h4: 1.8rem;
	--tr-heading-h5: 1.3rem;
	--tr-heading-h6: 1.1rem;

	--tr-text-size: 1rem;

  /* LINKS */
	--tr-link-color: var(--tr-color-primary);
	--tr-link-text-transform: none;
	--tr-link-text-decoration: none;
	--tr-link-font-weight: normal;


	/* INPUTS */
	--tr-input-border-color: #ccc;
	--tr-input-border-radius: 0.5rem;
	--tr-input-height: 34px;


	--tr-input-padding: 0.25rem 0.5rem;




	/* ALERTS */
	--tr-alert-padding: 1rem;
	--tr-alert-margin: 1rem 0;
	--tr-alert-border-radius: 0.5rem;


	/* DEVICE BREAKPOINTS */
	--tr-tablet: 768px;
	--tr-laptop: 1280px;
	--tr-desktop: 1920px;
	--tr-desktop-hd: 2560px;

}