
$primaryColor: #0E3E68;
$secondaryColor: #0471BC;
$thirdColor: #ADAEAE;
$fourthColor: #7C7C7C;

$infoColor: #33b5e5;
$successColor: #227220;
$warningColor: #ffa501;
$dangerColor: #99241d;

$siteText: #222;
$darkText: #000;
$lightText: #fff;
$mutedText: #777;


$phone: 576px;
$tablet: 768px;
$laptop: 1000px;
$desktop: 1272px;
$desktop-hd: 1426px;


$caret-width:                 .3em !default;
$caret-vertical-align:        $caret-width * .85 !default;
$caret-spacing:               $caret-width * .85 !default;
$enable-caret: "true";

:root {
  --field-border-radius: 10px;
}