
/* BACKGROUND COLORS */

.bg-primary {
  background-color: var(--tr-color-primary);
}
.bg-secondary {
  background-color: var(--tr-color-secondary);
}

.bg-info {
  background-color: var(--tr-color-info);
}
.bg-success {
  background-color: var(--tr-color-success);
}
.bg-warning {
  background-color: var(--tr-color-warning);
}
.bg-danger {
  background-color: var(--tr-color-danger);
}
.bg-black {
  background-color: var(--tr-color-black);
}
.bg-white {
  background-color: var(--tr-color-white);
}


/* TEXT COLORS */

.text-primary {
  color: var(--tr-color-primary);
}
.text-secondary {
  color: var(--tr-color-secondary);
}

.text-info {
  color: var(--tr-color-info);
}
.text-success {
  color: var(--tr-color-success);
}
.text-warning {
  color: var(--tr-color-warning);
}
.text-danger {
  color: var(--tr-color-danger);
}
.text-black {
  color: var(--tr-color-black);
}
.text-white {
  color: var(--tr-color-white);
}